@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  font-family: 'Kanit', sans-serif;
  font-size: 11px;
  letter-spacing: 0.5px;
}
.homepage-title{
	padding: 50px 0px;
	margin: 0;
    letter-spacing: 1px;
    text-align: center;
}
.homepage-list{
	margin-bottom: 7px;
}

.homepage-list.homepage-list-header{
	font-weight: bold;
	font-size: 12px;
}
.homepage-list.homepage-list-detail{
	height: 70px;
}
.homepage-list.homepage-list-button{
	margin-top: 15px;
	text-align: left;
}

.homepage-list.homepage-list-button a{
	padding: 5px 20px;
	background: #A50034;
	color: #fff; 
}
.desktop{
	display: block !important;
}
.mobile{
	display: none !important;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  	.desktop{
		display: none !important;
	}
	.mobile{
		display: block !important;
	}
}